body {
  margin: 0;
  padding: 0;
}

.product-list {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  padding: 2px 0px 20px 0px;
}

.product-list > h1 {
  font-size: xx-large;
}

.main-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main-container img {
  border-radius: 10px;
  width: 200px;
  height: 150px;
}

.main-container a {
  text-decoration: none;
  color: black;
}

.product-container {
  background-color: lightgray;
  border-radius: 15px;
  text-align: center;
  padding: 14px 14px 0px 14px;
}

.product-container:hover {
  background-color: gray;
}

.productt-detailss {
  width: 80%;
  margin: 0 auto;
}

/* Css for the tires page */
.container1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}

.info-last {
  display: flex;
  gap: 100px;
  align-items: center;
}

.p-price h3 {
  margin: 0;
}

.p-price h3:nth-child(1) {
  color: gray;
}

.p-btns button:nth-child(2) {
  font-weight: bolder;
  background-color: rgb(230, 3, 3);
  color: white;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.p-btns button:nth-child(1) {
  font-weight: bolder;
  background-color: white;
  color: black;
  width: 100px;
  height: 40px;
  border: 1px solid red;
  border-radius: 2px;
  cursor: pointer;
}

.p-btns button:hover {
  width: 110px;
  height: 50pxs;
}

.container2 {
  margin-top: 50px;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 10px;
}

.toggle-btn {
  background-color: white;
  border: none /*  1px solid #ddd   */;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
  font-size: large;
}

.toggle-content {
  display: none;
  padding: 10px;
  /* border: 1px solid #ddd; */
}

.toggle-btn.active {
  /* background-color: #ddd; */
  text-decoration: underline;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.boxes {
  width: 25%;
  height: 270px;
  border: 1px solid rgb(131, 130, 130);
  border-radius: 5px;
  padding: 10px 10px 4px 10px;
}

.boxes h4 {
  margin: 0px;
}

.boxes div {
  margin-bottom: 10px;
}
