body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.6;
  color: black;
}

.container {
  width: 90%;
  margin: 50px auto;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  color: rgb(43, 45, 66);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  /* text-align: center; */
  padding: 20px;
  background-color: #f9f9f9;
}

.card img {
  width: 250px;
  height: 180px;
}

.card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

button {
  background-color: rgb(205, 35, 42);
  color: #fff;
  border: none;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.price del {
  color: rgb(208, 35, 104);
  font-size: 15px;
}
